<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="fragments :: navigation-shop"></nav>
<nav th:replace="fragments :: navigation-admin"></nav>

<div class="container">
    <h2>ADMINISTRACION DE USUARIOS</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">LISTA DE USUARIOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">CREAR UN NUEVO USUARIO</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <h2>LISTA DE USUARIOS</h2>
                        <table class="table table-dark table-hover">
                            <thead>
                            <tr>
                                <th>NOMBRE</th>
                                <th>ROL</th>
                                <th>CORREO</th>
                                <th>DNI</th>
                                
                                <th>TELEFONO</th>
                                
                                <th>OPCIONES</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usuario: ${usuarios}">
                                <td th:text="${usuario.username}"></td>
                                <td th:text="${usuario.role}"></td>
                                 <td th:text="${usuario.correo}"></td>
                                  <td th:text="${usuario.dni}"></td>
                                   
                                   <td th:text="${usuario.telefono}"></td>

                                <td>

                                    <form action="#" method="post">

                                        <button type="submit" class="btn btn-warning"><i class="fa fa-edit"></i>
                                        </button>
                                    </form>

                                    <!--
                                                                        <form action="#" th:action="@{/api/usuario/delete/{id}(id=${usuario.id})}" method="post">

                                                                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i>
                                                                            </button>
                                                                        </form>

                                                                        -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded"><br>
                    <h2>CREAR UN NUEVO USUARIO</h2> <br>
                    <form th:action="@{/api/usuario/crear}" th:object="${usuario}" method="post"
                          class="text-center justify-content-center">
                        <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Nombre de usuario" th:field="*{username}"  id="nombre" required minlength=5>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese un correo" th:field="*{correo}" minlength="5" id="correo" required>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="ingrese su dni" th:field="*{dni}"  id="dni" minlength=9>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese su direccion" th:field="*{direccion}" id="direccion" minlength=5>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese su nro de telefono" th:field="*{telefono}"  id="telefono" minlength=5>
                        </div>
                        <hr>
                        <div class="col">
                            <!-- checkbox que nos permite activar o desactivar la opcion -->
                            <div style="margin-top:10px;">
                                <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña"/>
                                &nbsp;&nbsp;Mostrar Contraseña
                            </div>
                        </div>
                        <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-key"></i></span>
                                </div>
                            </div>
                            <input type="password" placeholder="Contraseña" th:field="*{password}" minlength="8"
                                   id="password" required>
                        </div>
                        <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-key"></i></span>
                                </div>
                            </div>
                            <input type="password" placeholder="Confirmar Contraseña" id="confirm_password" required>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <label for="sel1">SELECCIONE EL ROL DEL USUARIO:</label><br>
                                <div class="input-group mb-3 justify-content-center">

                                    <select class="form-control" id="sel1" th:field="*{role}">
                                        <option th:value="CUSTOMER">USUARIO GENERAL</option>
                                        <option th:value="ADMIN">ADMINISTRADOR</option>
                                    </select><br>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <button type="submit" class="btn btn-success">AGREGAR UN NUEVO USUARIO</button>
                    </form>
                    <br>
                </div>
                <div class="col-3"></div>
            </div>
            <br><br><br><br><br><br><br>
        </div>

    </div>
</div>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

<script>

bootstrapValidate("#nombre","min:5:Minimo 5 caracteres")
bootstrapValidate("#correo","email:Ingrese in correo valido")
bootstrapValidate("#dni","min:8:Ingrese los 8 dijitos")
bootstrapValidate("#direccion","min:10:Minimo 10 caracteres")
bootstrapValidate("#telefono","min:9:Ingrese 9 dijitos para el telefono")

</script>


<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>


</body>
<!--
<style>
    footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
</style>
-->
<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Las contraseñas no coinciden");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;



</script>
<script>
$(document).ready(function () {
  $('#mostrar_contrasena').click(function () {
    if ($('#mostrar_contrasena').is(':checked')) {
      $('#password').attr('type', 'text');
      $('#confirm_password').attr('type', 'text');
    } else {
      $('#password').attr('type', 'password');
      $('#confirm_password').attr('type', 'password');
    }
  });
});



</script>
</html>