<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="fragments :: navigation-shop"></nav>
<nav th:replace="fragments :: navigation-admin"></nav>

<div class="container">
    <h2>Administracion de productos</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Lista de productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Crear nuevo producto</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <h2>Lista de productos</h2>
                        <table class="table table-dark table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Descripcion</th>
                             
                                  <th>Imagen1</th>
                                   <th>Imagen2</th>
                                    <th>Imagen3</th>
                                     <th>Opciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producto: ${productos}">
                                <td th:text="${producto.nombre}">John</td>
                                <td th:text="${producto.precio}">Doe</td>
                                <td th:text="${producto.descripcionSim}">Doe</td>
                                
                                <td th:text="${producto.foto1}">Doe</td>
                                <td th:text="${producto.foto2}">Doe</td>
                                <td th:text="${producto.foto3}">Doe</td>

                                <td>

                                    <form action="#" th:action="@{/api/producto/delete/{id}(id=${producto.id})}"
                                          method="post"
                                          onsubmit="return confirm('¿Estás seguro que quieres borrar este producto? No hay vuelta atrás');">
                                        <a th:href="@{/api/producto/update/{id}(id=${producto.id})}">
                                            <button type="button" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded"><br>
                    <h2>Crear nuevo producto</h2> <br>
                    <form th:action="@{/api/producto/crear}" th:object="${producto}" method="post" enctype="multipart/form-data" >
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i> Nombre</span>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre del producto"
                                   th:field="*{nombre}" id="nombre" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-dollar-sign"></i> Precio</span>
                                </div>
                            </div>
                            <input type="number" class="form-control" min="0" th:field="*{precio}" id="precio" required >
                        </div>
                        
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i> Descripcion</span>
                                </div>
                            </div>
                            <textarea  rows="5" cols="20" placeholder="ingrese una breve descripcion" th:field="*{descripcionSim}" id="descripcion"></textarea>
                            
                        </div>
                        
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i> Descripcion Completa</span>
                                </div>
                            </div>
                            <textarea rows="8" cols="40" placeholder="ingrese una descripcion" th:field="*{descripciomHtml}" id="descripcionhtml"></textarea>
                            
                        </div>
                     
                         <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-dollar-sign"></i> Imagen 1</span>
                                </div>
                            </div>
                            <input type="file" class="form-control" min="0" name="file" id="imagen1" >
                        </div>
                      
                         <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-dollar-sign"></i> Imagen 2</span>
                                </div>
                            </div>
                            <input type="file" class="form-control" min="0" name="file2" id="imagen2">
                        </div>
                         <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-dollar-sign"></i> Imagen 3</span>
                                </div>
                            </div>
                            <input type="file" class="form-control" min="0" name="file3" id="imagen3">
                        </div>
                        
                        -->
                        <button type="submit" class="btn btn-success">Agregar nuevo producto</button>
                    </form>
                    <br>
                </div>
                <div class="col-3"></div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>

    </div>
</div>

<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

<script>

bootstrapValidate("#nombre","min:5:minimo 5 caracteres")
bootstrapValidate("#precio","numeric:el precio tiene que ser tipo numerico")
bootstrapValidate("#descripcion","min:8:La descripcion es obligatoria")
bootstrapValidate("#descripcionhtml","min:20:minimo 20 caracteres")

</script>
<!-- Footer -->
<footer th:replace="fxragments :: footer"></footer>


</body>
<!--
<style>
    footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
</style>
-->
</html>