<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="fragments :: navigation-shop"></nav>


<div class="container">
  
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Detalle</a>
        </li>
  
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <h2>Lista de Productos</h2>
                        <table class="table table-dark table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE</th>
                                <th>PRECIO</th>
                              
                                <th>OPCIONES</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="deta: ${pedido}">
                                <td th:text="${deta.producto.id}">John</td>
                                <td th:text="${deta.producto.nombre}">Doe</td>
                                <td th:text="${deta.producto.precio}">Doe</td>
                                
                                
                              

                                <td>
               <!--  
                                    <form action="#" th:action="@{/api/producto/delete/{id}(id=${producto.id})}"
                                          method="post"
                                          onsubmit="return confirm('¿Estás seguro que quieres borrar este producto? No hay vuelta atrás');">
                                        <a th:href="@{/api/producto/update/{id}(id=${producto.id})}">
                                            <button type="button" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                    -->
                                    
                                </td>
                            </tr>
                            </tbody>
                        </table>
                         <h3>TOTAL A PAGAR: <span th:text="'$'+${carrito.precioTotal}"></span></h3>
                    </div>
                    
                   
                </div>
                <div class="col-2"></div>
            </div>
        </div>

</body>
</html>
