<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
    <br>  <p class="text-center">SI NO QUIERES REGISTRARTE, <a href="/home"> IR A LA PAGINA</a></p>
    <hr>





    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">CREAR UNA CUENTA</h4>

            <div><br>
                <div class="row">

                    <div class="col-12 shadow-lg p-3 mb-5 bg-white rounded"><br>
                        <h2>Crear nuevo usuario</h2> <br>
                        <form th:action="@{/api/usuario/registrar}" th:object="${usuario}" method="post"
                              class="text-center justify-content-center" >
                            <div class="input-group mb-3 justify-content-center">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span><i class="fa fa-keyboard"></i></span>
                                    </div>
                                </div>
                                <input type="text" placeholder="Nombre de usuario" th:field="*{username}" minlength="5" id="nombre" required>
                            </div>
                            <hr>
                            
                              <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese un correo" th:field="*{correo}" minlength="5" id="correo" required>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="ingrese su dni" th:field="*{dni}" minlength="5" id="dni" required>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese su direccion" th:field="*{direccion}" minlength="5" id="direccion" required>
                        </div>
                        <hr>
                        
                            <div class="input-group mb-3 justify-content-center">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i></span>
                                </div>
                            </div>
                            <input type="text" placeholder="Ingrese su nro de telefono" th:field="*{telefono}" minlength="5" id="telefono" required>
                        </div>
                        <hr>
                            
                            <div class="col">
                                <!-- checkbox que nos permite activar o desactivar la opcion -->
                                <div style="margin-top:10px;">
                                    <input type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña"/>
                                    &nbsp;&nbsp;Mostrar Contraseña
                                </div>
                            </div>
                            <div class="input-group mb-3 justify-content-center">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span><i class="fa fa-key"></i></span>
                                    </div>
                                </div>
                                <input type="password" placeholder="Contraseña" th:field="*{password}" minlength="8"
                                       id="password" required>
                            </div>
                            <div class="input-group mb-3 justify-content-center">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span><i class="fa fa-key"></i></span>
                                    </div>
                                </div>
                                <input type="password" placeholder="Confirmar Contraseña" id="confirm_password" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success">Registrarse en el sistema</button>
                        </form>
                        <br>
                    </div>

                </div>
                <br><br><br><br><br><br><br>
            </div>
        </article>
    </div> <!-- card.// -->

</div>


<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

<script>

bootstrapValidate("#nombre","min:5:minimo 5 caracteres")
bootstrapValidate("#correo","email:tiene que ser tipo @gmail")
bootstrapValidate("#dni","min:8:minimo 8 caracteres")
bootstrapValidate("#direccion","min:8:minimo 8 caracteres")
bootstrapValidate("#telefono","numeric:tiene que ser tipo numeric")


</script>


<!--container end.//-->

<br><br>
<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>
</body>
<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Las contraseñas no coinciden");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;



</script>
<script>
$(document).ready(function () {
  $('#mostrar_contrasena').click(function () {
    if ($('#mostrar_contrasena').is(':checked')) {
      $('#password').attr('type', 'text');
      $('#confirm_password').attr('type', 'text');
    } else {
      $('#password').attr('type', 'password');
      $('#confirm_password').attr('type', 'password');
    }
  });
});



</script>

</html>
